main{ /* reassignes(from style.css) the element so main will take the intire screen x cvanh*/
  width:70%;
}
.product_photo{
  display: inline-block;
  width: 40%;
  /* margin-top: 0PX; */
}
.product_article{
    display: inline-block;
    width: 30%;
}
.product_article_order{
  
}
/* .product_article_form{
  display: block ;
} */