/*
1 product front page

*/

:root{
    --product_card_width: 10%;
    --product_card_height: 300px;
}
*{
    margin: 0px;
    background-color: gray;
}

/* --- 1 --- */
 .product_card{
    display: inline-block;
    background-color: hsl(196, 66%, 39%);
    height: var(--product_card_height);
    width: var(--product_card_width); 
    border: black 1px;
    border-style: dashed;
 }
 .product_card img{
     background-color: aquamarine;
     height: calc(var(--product_card_height)/2);
    }
    .product_card_order_button{
        height: 30px;
        width: auto;
        float: right;
        margin-bottom: ;
    }
.header_nav_button{
    background-color: aqua;
    height: 30px;
    width: 10%;
}